{# Renders recent transactions in the accounts page #}
{% if transactions %}

<table class="currency-transactions">
{% for transaction in transactions %}
<tr class="transaction" title="click for details" onclick="window.location.href='{% url 'view_transaction' with identity=transaction.identity %}';">
    <td class="transaction-date text-info" style="width:120px">
        <div class="date">${transaction.sent % 'dd'}</div>
        <div class="month">${transaction.sent % 'MMM'}</div>
        <div class="year">${transaction.sent % 'YYYY'}</div>
    </td>
    <td class="transaction-sender">
    {# {% render transaction.sender %} &rarr; #} {% render transaction.recipient %}
    {% if transaction.reference %}
        <div class="transaction-reference">
            ${transaction.reference}
        </div>
    {% else %}
        <div class="transaction-reference">
            <em>no reference</em>
        </div>
    {% endif %}
    </td>
    <td class="transaction-notes hidden-xs"><p>${linebreaks:(transaction.notes or '')}</p></td>
    {%- if transaction.type == .app.enum.transaction_type.transfer %}
    <td class="amount credit text-muted">
    ${account==transaction.destination ? '+' : '-'}${transaction.amount::',.2f'}
    {%- else %}
    <td {% attrib class=['amount', account==transaction.source ? 'debit text-danger' : 'credit text-success'] %}>
    ${account==transaction.destination ? '+' : '-'}${transaction.amount::',.2f'}
    {% endif %}
    </td>
</tr>
{% endfor %}
</table>

{% else %}
<em>no recent transactions</em>
{% endif %}
