<footer class="footer">
    <div class="container">
        <p class="text-muted">

            <span class="pull-right hidden-xs">
                built with <a href="https://www.moyaproject.com">Moya</a>
            </span>

            <span title="&copy; 2015 Will McGugan">Bean Counter</span> <span class="hidden-sm hidden-xs"> &copy; 2015 Will McGugan</span> &nbsp;
            <a href="/">Home</a> |
            <a href="{% url 'showpage' from 'moya.pages' with pagename='about' %}">About</a> |
            <a href="{% url 'feedback' from 'moya.feedback' %}">Feedback</a> |
            <a href="{% url 'showpage' from 'moya.pages' with pagename='contact' %}">Contact</a> |
            <a href="{% url 'list' from 'moya.blog' %}">Blog</a>
        </p>
    </div>
</footer>